<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.planet.project.mapper.SignUPMapper" >
  <resultMap id="BaseResultMap" type="com.planet.project.entity.SignUP" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sign_up_uuid" property="signUpUuid" jdbcType="VARCHAR" />
    <result column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="acc_name" property="accName" jdbcType="VARCHAR" />
    <result column="acc_no" property="accNo" jdbcType="VARCHAR" />
    <result column="certif_id" property="certifId" jdbcType="VARCHAR" />
    <result column="cert_type" property="certType" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="pro_No" property="proNo" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
    <result column="pro_begin_date" property="proBeginDate" jdbcType="DATE" />
    <result column="pro_end_date" property="proEndDate" jdbcType="DATE" />
    <result column="trans_max_amount" property="transMaxAmount" jdbcType="DECIMAL" />
    <result column="order_time" property="orderTime" jdbcType="DATE" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="trans_type" property="transType" jdbcType="VARCHAR" />
    <result column="sign_up_status" property="signUpStatus" jdbcType="INTEGER" />
    <result column="bank_alias_name" property="bankAliasName" jdbcType="VARCHAR" />
    <result column="bank_full_name" property="bankFullName" jdbcType="VARCHAR" />
    <result column="std_bank_code" property="stdBankCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
    <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="response_msg" property="responseMsg" jdbcType="VARCHAR" />
    <result column="payment_institution" property="paymentInstitution" jdbcType="INTEGER" />
    <result column="request_No" property="requestNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
    <result column="rese_request_no" property="reseRequestNo" jdbcType="VARCHAR" />
    <result column="msg_code" property="msgCode" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="batch_sign_up_uuid" property="batchSignUpUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sign_up_uuid, mer_id, order_number, acc_name, acc_no, certif_id, cert_type, phone_no, 
    pro_No, bank_id, pro_begin_date, pro_end_date, trans_max_amount, order_time, pay_type, 
    trans_type, sign_up_status, bank_alias_name, bank_full_name, std_bank_code, remark, 
    modify_time, sign_time, cancel_time, product_code, response_msg, payment_institution, 
    request_No, user_id, card_type, rese_request_no, msg_code, notify_url, batch_sign_up_uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sign_up
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByAccNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_sign_up
    where acc_no = #{accNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sign_up
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.planet.project.entity.SignUP" >
    insert into t_sign_up (id, sign_up_uuid, mer_id, 
      order_number, acc_name, acc_no, 
      certif_id, cert_type, phone_no, 
      pro_No, bank_id, pro_begin_date, 
      pro_end_date, trans_max_amount, order_time, 
      pay_type, trans_type, sign_up_status, 
      bank_alias_name, bank_full_name, std_bank_code, 
      remark, modify_time, sign_time, 
      cancel_time, product_code, response_msg, 
      payment_institution, request_No, user_id, 
      card_type, rese_request_no, msg_code, 
      notify_url, batch_sign_up_uuid)
    values (#{id,jdbcType=BIGINT}, #{signUpUuid,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, 
      #{orderNumber,jdbcType=VARCHAR}, #{accName,jdbcType=VARCHAR}, #{accNo,jdbcType=VARCHAR}, 
      #{certifId,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, 
      #{proNo,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR}, #{proBeginDate,jdbcType=DATE}, 
      #{proEndDate,jdbcType=DATE}, #{transMaxAmount,jdbcType=DECIMAL}, #{orderTime,jdbcType=DATE}, 
      #{payType,jdbcType=VARCHAR}, #{transType,jdbcType=VARCHAR}, #{signUpStatus,jdbcType=INTEGER}, 
      #{bankAliasName,jdbcType=VARCHAR}, #{bankFullName,jdbcType=VARCHAR}, #{stdBankCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{signTime,jdbcType=TIMESTAMP}, 
      #{cancelTime,jdbcType=TIMESTAMP}, #{productCode,jdbcType=VARCHAR}, #{responseMsg,jdbcType=VARCHAR}, 
      #{paymentInstitution,jdbcType=INTEGER}, #{requestNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{cardType,jdbcType=INTEGER}, #{reseRequestNo,jdbcType=VARCHAR}, #{msgCode,jdbcType=VARCHAR}, 
      #{notifyUrl,jdbcType=VARCHAR}, #{batchSignUpUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.planet.project.entity.SignUP" >
    insert into t_sign_up
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="signUpUuid != null" >
        sign_up_uuid,
      </if>
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="accName != null" >
        acc_name,
      </if>
      <if test="accNo != null" >
        acc_no,
      </if>
      <if test="certifId != null" >
        certif_id,
      </if>
      <if test="certType != null" >
        cert_type,
      </if>
      <if test="phoneNo != null" >
        phone_no,
      </if>
      <if test="proNo != null" >
        pro_No,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="proBeginDate != null" >
        pro_begin_date,
      </if>
      <if test="proEndDate != null" >
        pro_end_date,
      </if>
      <if test="transMaxAmount != null" >
        trans_max_amount,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="signUpStatus != null" >
        sign_up_status,
      </if>
      <if test="bankAliasName != null" >
        bank_alias_name,
      </if>
      <if test="bankFullName != null" >
        bank_full_name,
      </if>
      <if test="stdBankCode != null" >
        std_bank_code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="signTime != null" >
        sign_time,
      </if>
      <if test="cancelTime != null" >
        cancel_time,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="responseMsg != null" >
        response_msg,
      </if>
      <if test="paymentInstitution != null" >
        payment_institution,
      </if>
      <if test="requestNo != null" >
        request_No,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="reseRequestNo != null" >
        rese_request_no,
      </if>
      <if test="msgCode != null" >
        msg_code,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="batchSignUpUuid != null" >
        batch_sign_up_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="signUpUuid != null" >
        #{signUpUuid,jdbcType=VARCHAR},
      </if>
      <if test="merId != null" >
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="certifId != null" >
        #{certifId,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null" >
        #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="proBeginDate != null" >
        #{proBeginDate,jdbcType=DATE},
      </if>
      <if test="proEndDate != null" >
        #{proEndDate,jdbcType=DATE},
      </if>
      <if test="transMaxAmount != null" >
        #{transMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=DATE},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="signUpStatus != null" >
        #{signUpStatus,jdbcType=INTEGER},
      </if>
      <if test="bankAliasName != null" >
        #{bankAliasName,jdbcType=VARCHAR},
      </if>
      <if test="bankFullName != null" >
        #{bankFullName,jdbcType=VARCHAR},
      </if>
      <if test="stdBankCode != null" >
        #{stdBankCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="responseMsg != null" >
        #{responseMsg,jdbcType=VARCHAR},
      </if>
      <if test="paymentInstitution != null" >
        #{paymentInstitution,jdbcType=INTEGER},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=INTEGER},
      </if>
      <if test="reseRequestNo != null" >
        #{reseRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="msgCode != null" >
        #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="batchSignUpUuid != null" >
        #{batchSignUpUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.planet.project.entity.SignUP" >
    update t_sign_up
    <set >
      <if test="signUpUuid != null" >
        sign_up_uuid = #{signUpUuid,jdbcType=VARCHAR},
      </if>
      <if test="merId != null" >
        mer_id = #{merId,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        acc_name = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        acc_no = #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="certifId != null" >
        certif_id = #{certifId,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        cert_type = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null" >
        pro_No = #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="proBeginDate != null" >
        pro_begin_date = #{proBeginDate,jdbcType=DATE},
      </if>
      <if test="proEndDate != null" >
        pro_end_date = #{proEndDate,jdbcType=DATE},
      </if>
      <if test="transMaxAmount != null" >
        trans_max_amount = #{transMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=DATE},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="signUpStatus != null" >
        sign_up_status = #{signUpStatus,jdbcType=INTEGER},
      </if>
      <if test="bankAliasName != null" >
        bank_alias_name = #{bankAliasName,jdbcType=VARCHAR},
      </if>
      <if test="bankFullName != null" >
        bank_full_name = #{bankFullName,jdbcType=VARCHAR},
      </if>
      <if test="stdBankCode != null" >
        std_bank_code = #{stdBankCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signTime != null" >
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="responseMsg != null" >
        response_msg = #{responseMsg,jdbcType=VARCHAR},
      </if>
      <if test="paymentInstitution != null" >
        payment_institution = #{paymentInstitution,jdbcType=INTEGER},
      </if>
      <if test="requestNo != null" >
        request_No = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=INTEGER},
      </if>
      <if test="reseRequestNo != null" >
        rese_request_no = #{reseRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="msgCode != null" >
        msg_code = #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="batchSignUpUuid != null" >
        batch_sign_up_uuid = #{batchSignUpUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.planet.project.entity.SignUP" >
    update t_sign_up
    set sign_up_uuid = #{signUpUuid,jdbcType=VARCHAR},
      mer_id = #{merId,jdbcType=VARCHAR},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      acc_name = #{accName,jdbcType=VARCHAR},
      acc_no = #{accNo,jdbcType=VARCHAR},
      certif_id = #{certifId,jdbcType=VARCHAR},
      cert_type = #{certType,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      pro_No = #{proNo,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR},
      pro_begin_date = #{proBeginDate,jdbcType=DATE},
      pro_end_date = #{proEndDate,jdbcType=DATE},
      trans_max_amount = #{transMaxAmount,jdbcType=DECIMAL},
      order_time = #{orderTime,jdbcType=DATE},
      pay_type = #{payType,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=VARCHAR},
      sign_up_status = #{signUpStatus,jdbcType=INTEGER},
      bank_alias_name = #{bankAliasName,jdbcType=VARCHAR},
      bank_full_name = #{bankFullName,jdbcType=VARCHAR},
      std_bank_code = #{stdBankCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      product_code = #{productCode,jdbcType=VARCHAR},
      response_msg = #{responseMsg,jdbcType=VARCHAR},
      payment_institution = #{paymentInstitution,jdbcType=INTEGER},
      request_No = #{requestNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=INTEGER},
      rese_request_no = #{reseRequestNo,jdbcType=VARCHAR},
      msg_code = #{msgCode,jdbcType=VARCHAR},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      batch_sign_up_uuid = #{batchSignUpUuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>